.maincontainer {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.leftside {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0px;
	margin: 0px;
}
.details {
	height: auto;
	width: 100vb;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 2px 2px 5px grey;
}
.chart {
	height: 40vh;
	width: 70vb;
	margin: 10px;
	display: flex;
	justify-content: center;
	margin-top: 0;
	box-shadow: 2px 2px 5px grey;
	transition: 0.5s;
}
.chart2 {
	height: 40vh;
	width: 70vb;
	margin: 10px;
	display: flex;
	justify-content: center;
	margin-top: 0;
	box-shadow: 2px 2px 5px grey;
	transition: 0.5s;
}
.heading {
	width: 100%;
	height: 8vh;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	box-shadow: 2px 2px 5px grey;
	text-align: center;
	padding: 3px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.othdetails {
	width: 100%;
	height: 250px;
	border-radius: 15px;
}
.charts {
	display: flex;
	flex-direction: column;
	justify-content: start;
}
.chartnav {
	background-color: blue;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: left;
	padding-left: 10px;
	height: 25px;
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
}
.chartbtn {
	width: 40px;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor: pointer;
	height: 20px;
	text-align: center;
	border-radius: 2px;
	transition-duration: 0.5s;
	color: white;
	padding-top: 8px;
}
.chartbtn:hover {
	background-color: white;
	color: blue;
}
.basic_desc {
	width: 100%;
	height: 100%;
	font-size: 8px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	padding: 0px;
}
.logo {
	width: 50px;
	height: 7vh;
	border-style: solid;
	border-width: 0.5px;
	border-color: grey;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
}
.closed {
	height: 100%;
	width: 0;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: blue;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	display: flex;
	flex-direction: column;
}
.open {
	height: 100%;
	width: 150px;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: blue;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	display: flex;
	flex-direction: column;
}
.open:after {
	content: '\003E';
}
.Navcon {
	display: flex;
	z-index: 10;
	position: fixed;
	width: auto;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
}
.openbtn {
	width: 20px;
	height: 100%;
	color: white;
	background-color: blue;
	border-style: none;
}
.search {
	height: auto;
}
.toggler {
	height: auto;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	white-space: nowrap;
	overflow: hidden;
}
.check {
	overflow: hidden;
}
.chartclose {
	height: 0;
	overflow: hidden;
	transition: 0.5s;
}
.chart2close {
	height: 0;
	overflow: hidden;
	transition: 0.5s;
}
.chartnavclose {
	height: 0;
	overflow: hidden;
	transition: 0.5s;
}
@media only screen and (max-width: 900px) {
	.maincontainer {
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.leftside {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 0px;
		width: 100%;
		height: 90vh;
	}
	.details {
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-left: 2px;
		padding-right: 2px;
		box-shadow: 2px 2px 5px grey;
	}
	.chart {
		height: auto;
		width: 100%;
		margin: 0px;
		display: flex;
		justify-content: center;
		margin-top: 0;
		box-shadow: 2px 2px 5px grey;
		transition: 0.5s;
	}
	.chart2 {
		height: auto;
		width: 100%;
		margin: 0px;
		display: flex;
		justify-content: center;
		margin-top: 0;
		box-shadow: 2px 2px 5px grey;
		transition: 0.5s;
	}
	.heading {
		width: 100%;
		height: 4vh;
		font-size: 20px;
		font-family: Arial, Helvetica, sans-serif;
		box-shadow: 2px 2px 5px grey;
		text-align: center;
		padding: 3px;
		margin-bottom: 5px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.othdetails {
		width: 100%;
		height: auto;
		border-radius: 15px;
	}
	.charts {
		display: flex;
		height: auto;
		width: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 5px;
	}
	.chartnav {
		background-color: blue;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		justify-content: left;
		padding-left: 5px;
		height: 25px;
		margin: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.chartbtn {
		width: 20px;
		font-size: 8px;
		font-family: Arial, Helvetica, sans-serif;
		height: 10px;
		text-align: center;
		border-radius: 2px;
		transition-duration: 0.5s;
		color: white;
		padding-top: 2px;
	}
	.chartbtn:hover {
		background-color: white;
		color: blue;
	}
	.basic_desc {
		width: 100%;
		height: 100%;
		font-size: 8px;
		font-family: Arial, Helvetica, sans-serif;
		text-align: justify;
		padding: 0px;
	}
	.logo {
		width: 50px;
		height: 7vh;
		border-style: solid;
		border-width: 0.5px;
		border-color: grey;
		border-radius: 5px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.closed {
		height: 100%;
		width: 0;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: blue;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		display: flex;
		flex-direction: column;
	}
	.open {
		height: 100%;
		width: 80px;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: blue;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		display: flex;
		flex-direction: column;
	}
	.Navcon {
		display: flex;
		z-index: 10;
		position: fixed;
		width: auto;
		height: 100%;
		z-index: 1;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	.openbtn {
		width: 10px;
		height: 100%;
		color: white;
		background-color: blue;
		border-style: none;
	}
	.search {
		height: auto;
	}
	.toggler {
		height: auto;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 8px;
		white-space: nowrap;
		overflow: hidden;
	}
	.check {
		overflow: hidden;
	}
	.chartclose {
		height: 0;
		overflow: hidden;
		transition: 0.5s;
	}
	.chart2close {
		height: 0;
		overflow: hidden;
		transition: 0.5s;
	}
	.chartnavclose {
		height: 0;
		overflow: hidden;
		transition: 0.5s;
	}
}
